{% extends "layout.njk" %}
{% block  content %}


<main class="container">
    <div class="card bg-light mb-3 mx-auto mt-5" style="max-width: 42rem;">
        <div class="card-header" style="text-align: center">Add a new song</div>
        <div class="mb-3, card-body">
            <form action="/content/newsong" method="post">
                <div class="mb-3">
                    <label for="songname" class="form-label">Song Name</label>
                    <input type="text" class="form-control" id="songname" name="songname" placeholder="Song name" required>
                </div>
                <div class="mb-3">
                    <label for="albumname" class="form-label">Song Name</label>
                    <input type="text" class="form-control" id="albumname" name="albumname" placeholder="Album name (if it's a single dont put anything here)">
                </div>
                
                <label for="artists">Who produced the song:</label>
                <select class="form-select" id="artists" name="artists" size="4" multiple>
                    {% for artist in artists %}
                    <option value="{{artist.id}}">{{artist.name}}</option>
                    {% endfor %}
                </select>

                <label for="genres">pick the genres that best describe the song:</label>
                <select class="form-select" id="genres" name="genres" size="5" multiple>
                    <option value="Rock">Rock</option>
                    <option value="Jazz">Jazz</option>
                    <option value="EDM">EDM</option>
                    <option value="Dubstep">Dubstep</option>
                    <option value="Country">Country</option>
                    <option value="Pop">Pop</option>
                    <option value="Hip-hop">Hip-hop</option>
                    <option value="Classic">Classic</option>
                    <option value="Soundtrack">Soundtrack</option>
                </select>

                <label for="song_link">Spotify song link</label>
                <input type="text" class="form-control" name="song_link" id="song_link" placeholder="Song Link" required>
                <button class="btn btn-outline-dark btn-warning" type="submit" id="button-addon2" name="upload" >Submit</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}