{% extends "layout.njk" %}
{% block  content %}
<main class="container">
    <div class="card bg-light mb-3 mx-auto mt-5" style="max-width: 42rem;">
        <div class="card-header" style="text-align: center">Sign up</div>
        <div class="mb-3, card-body">
            <form action="/users/signup" method="post" class="mtop">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
          <input class="form-control" 
            type="text" 
            name="name" 
            id="name" 
            value="{{ name }}" 
            required 
            aria-label="Sizing example input" 
            aria-describedby="inputGroup-sizing-sm"
            placeholder="username" >
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
          <input class="form-control" 
            type="text" 
            name="password" 
            id="password" 
            value="{{ password }}" 
            required 
            aria-label="Sizing example input" 
            aria-describedby="inputGroup-sizing-sm"
            placeholder="password" >
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Confirm password</span>
          <input class="form-control" 
            type="text" 
            name="cpassword"
            id="cpassword"
            required 
            aria-label="Sizing example input" 
            aria-describedby="inputGroup-sizing-sm"
            placeholder="Confirm password" >
        </div>
            <button class="btn btn-warning" type="submit">Sign up</button>
      <div>{{error}}</div>
      </form>
      
        </div>
    </div>
</main>
{% endblock %}