{% extends "layout.njk" %}
{% block  content %}
<main class="container">
<h1> GOT DAMN, MAIN CONTENT PAGE</h1>
<a href="/content/newartist"><button type="button" class="btn btn-secondary">New artist</button></a>
<a href="/content/newsong"><button type="button" class="btn btn-secondary">New song</button></a>
</main>
{% endblock %}