{% extends "layout.njk" %}
{% block  content %}
<form action="upload.php" method="post" enctype="multipart/form-data">
<input type="file" name="file" />
<button type="submit" name="upload">upload</button>
</form>
{% endblock %}