{% extends "layout.njk" %}
{% block  content %}
<main class="container">
    <div class="card bg-light mb-3 mx-auto" style="max-width: 42rem;">
        <div class="card-header" style="text-align: center">Add a new song</div>
        <div class="mb-3, card-body">
            <form action="/content/newsong" enctype="multipart/form-data" method="post">
                <label>Name of the song</label>
                <input type="text" class="form-control" name="songname" id="songname" placeholder="Song name" required>
                <label>Name of the album</label>
                <input type="text" class="form-control" name="albumname" id="albumname" placeholder="Album name (if it's a single dont put anything here)">
                
                <label for="artists">Who produced the song:</label>
                <select id="artists" name="artists" size="4" multiple>
                    {% for artist in artists %}
                    <option value="{{artist.id}}">{{artist.name}}</option>
                    {% endfor %}
                </select>

                <label for="genres">pick the genres that best describe the song:</label>
                <select id="genres" name="genres" size="5" multiple>
                    <option value="Rock">Rock</option>
                    <option value="Jazz">Jazz</option>
                    <option value="EDM">EDM</option>
                    <option value="Dubstep">Dubstep</option>
                    <option value="Country">Country</option>
                    <option value="Pop">Pop</option>
                    <option value="Hip-hop">Hip-hop</option>
                    <option value="Classic">Classic</option>
                    <option value="Soundtrack">Soundtrack</option>
                </select>

                <label for="imagefile">Song/Albumcover</label>
                <input type="file" name="imagefile" id="imagefile" accept="image/png, image/jpeg"/>
                <label for="song_link">Audio file</label>
                <input type="text" class="form-control" name="song_link" id="song_link" placeholder="Song Link" required>
                <button type="submit" name="upload">upload</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}